@tailwind base;
@tailwind components;
@tailwind utilities;

/* For the regular font */
@font-face {
    font-family: "IRANYekan";
    src: url("./fonts/iranyekan-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* For the bold font */
@font-face {
    font-family: "IRANYekan";
    src: url("./fonts/iranyekan-extra-bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* For the bold font */
@font-face {
    font-family: "IRANYekan";
    src: url("./fonts/irankyekan-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "IRANYekan" !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.authentication-layout {
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: 100% 60%;
}
