@tailwind base;
@tailwind components;
@tailwind utilities;

/* For the regular font */
@font-face {
    font-family: "IRANYekan";
    src: url("../fonts/iranyekan-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* For the bold font */
@font-face {
    font-family: "IRANYekan";
    src: url("../fonts/iranyekan-extra-bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* For the bold font */
@font-face {
    font-family: "IRANYekan";
    src: url("../fonts/irankyekan-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "IRANYekan" !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.rtl {
    direction: rtl;
}

.authentication-layout {
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: 100% 60%;
}

.dark {
    background-color: #24292e !important;
    color: white !important;
}

.light {
    background-color: #ffffff !important;
    color: black !important;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-out {
    animation: fadeOut 0.5s forwards;
    animation-delay: 5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mainDiv {
    width: 500px;
}

.titleDiv {
    width: 452px;
}

.inputName {
    height: 75px;
}

.myInput {
    border: 1px solid #aaa;
}

.myWidth {
    width: 415px;
}

.ColorBox {
    padding: 17px 11.5px 21px 11.5px;
    background: #7d828c;
}

.MyStyle {
    display: flex;
    height: 34px;
    width: 429px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
